%h1
  = @crew.name.capitalize 
  crew
  
%h2 Constitution
%pre= @crew.constitution
%br


%ul
  %li= link_to "Proposals (#{Proposal.crew_id_equals(@crew.id).count})", crew_proposals_path(@crew)
  %li= link_to "Members (#{Membership.crew_id_equals(@crew.id).count})", crew_memberships_path(@crew)
  -if can? :read, Invitation, :crew_id => @crew.id
    %li= link_to "Invitations (#{Invitation.crew_id_equals(@crew.id).count})", crew_invitations_path(@crew)

   


%br
-if can? :update, @crew
  = link_to "Edit this crew", edit_crew_path, :class=>'new'

