%h1
  = @crew.name.capitalize 
  crew
  
%h2 Constitution
%pre= @crew.constitution
%br


%ul
  %li= link_to 'Proposals', crew_proposals_path(@crew)
  %li= link_to 'Members', crew_memberships_path(@crew)
  -if can? :read, Invitation, :crew_id => @crew.id
    %li= link_to 'Invitations', crew_invitations_path(@crew)

   


%br
-if can? :update, @crew
  = link_to "Edit this crew", edit_crew_path, :class=>'new'

