%h1= "Members"
%ul
- @memberships.each do |membership|
  %li= "#{membership.user.nickname} : #{membership.role}"

%br= link_to 'Back to crew', crew_path(@crew)
%br= link_to 'Back to crews', crews_path



