%h1 
  New invitation for crew 
  =@invitation.crew.name
- form_for [:crew, @invitation] do |f|
  = f.error_messages
  
  = f.label :email, "Email : "
  %br
  = f.text_field :email
  %br

  = f.radio_button :role, 'crewman'
  = f.label :role_crewman, "crewman"
  .hint
    A crewman is a crew member
  %br  
  = f.radio_button :role, 'officer'
  = f.label :value_officer, "officer"  
  .hint
    An officer is a crew member that can manage other crew members, invite new members and officers, revoke members and officers (including you), and edit crew name and constitution
  %br
  %br
  = submit_tag 'Save invitation'
  
