%h2
  %span= link_to "Proposal Nº#{proposal.id}", crew_proposal_path(proposal.crew, proposal)
%h3 


  
  .number
    Signatures :
    =proposal.signatures_count
.nickname
  = image_tag proposal.user.gravatar_url
  = proposal.user.nickname
  = proposal.full_status == 'open' ? 'proposes:' : 'proposed:'

%pre=proposal.text
.suggest
  -if mine?(proposal) && proposal.votes 
    -cbvv = comments_by_vote_value proposal
    -[[cbvv[:neutral],'Some may vote yes if :'], [cbvv[:negative], 'Some would have voted yes if :'], [cbvv[:positive], 'Some suggests :']].each do |comments_and_prompt| 
      -if comments_and_prompt[0] && !comments_and_prompt[0].empty?
        %h3= comments_and_prompt[1]
        %ul
          -comments_and_prompt[0].each do |comment|
            %li= comment


