%h2
  %span= link_to "Proposal Nº#{proposal.id}", crew_proposal_path(proposal.crew, proposal)
%h3 


  
  .number
    Signatures :
    =proposal.signatures_count

  
.nickname
  = image_tag proposal.user.gravatar_url
  = proposal.user.nickname
  = proposal.full_status == 'open' ? 'proposes:' : 'proposed:'

%pre=proposal.text

.number
  - if proposal.full_status == 'closed'
    - %w(yes support no pass).each do |type|
      - count = proposal.send "#{type}_count"
      - size = ( type!='pass' ? 2+ 4 * count/( proposal.signatures_count + 1) : 1)
      %span{:class => "#{type}", :style => "font-size: #{size}em"}
        = "#{type}: #{count}"
      %br

.suggest
  - comments = proposal.comments(current_user.id)
  -if !comments.empty?
    -cbvv = comments_by_vote_value proposal
    -[[cbvv[:neutral],'Some may vote yes if :'], [cbvv[:negative], 'Some would have voted yes if :'], [cbvv[:positive], 'Some suggests :']].each do |comments_and_prompt| 
      -if comments_and_prompt[0] && !comments_and_prompt[0].empty?
        %h3= comments_and_prompt[1]
        %ul
          -comments_and_prompt[0].each do |comment|
            %li= comment


