%h2
  Proposals
%h2
  = link_to 'All', proposals_path
  = link_to "Ongoing", proposals_path(:search=>{:opening_at_before => Time.now, :closing_at_after => Time.now, :status_equals => 'open' })
  = link_to "Decisions", proposals_path(:search=>{:closing_at_before => Time.now, :status_equals => 'open' })
  = link_to "Pending", proposals_path(:search=>{:opening_at_after => Time.now, :status_equals => 'open' })
  = link_to "Cancelled", proposals_path(:search=>{:status_equals => 'cancelled' })
  = link_to "Withdrawn", proposals_path(:search=>{:status_equals => 'withdrawn' })
  = link_to "My proposals", proposals_path(:search=>{:user_id => current_user.id })
-if @proposals.empty?
  No proposal
-else
  %table.proposals
    %thead
      - [:user,:text,:opening_at,:closing_at,:status].each do |attribute|
        %th= order  @search, :by => attribute 
       
      %th= order @search, :by => :yes_count, :as=> 'Yes/Support/No/Pass '
      %th= order  @search, :by => :signatures_count, :as => 'Signatures'
      %th= 'Action'
      - @proposals.each do |proposal|
        %tr
          %td
            = proposal.user.nickname
            proposes : 
          %td{:id=>"link_#{proposal.id}"}
            = link_to proposal.text[0..20]+"...","#"
            - comments = proposal.votes.collect{|v| v.comment}
            -if proposal.user_id == current_user.id && !comments.empty?
              %br 
                ="#{comments.size} would vote yes if..."
          %td= facebook_distance_of_time_in_words proposal.opening_at
          %td= facebook_distance_of_time_in_words proposal.closing_at
          %td= proposal.full_status
          %td
            - if proposal.full_status == 'closed'
              %font(color='lime')= proposal.yes_count
              %font(color='gold')= proposal.support_count
              %font(color='red')= proposal.no_count
              %font(color='silver')= proposal.pass_count
              
            - elsif proposal.full_status == 'cancelled'
              ="Vetoed by #{proposal.cancelled_by.nickname}"          
          %td= proposal.signatures_count
          %td
            - if proposal.user_id == current_user.id
              = link_to 'Withdraw!', withdraw_proposal_path(proposal)
            - if proposal.full_status == 'open'
              - if @signatures.find_all{|s| s.proposal_id==proposal.id}.empty?
                = link_to 'Vote!', new_proposal_vote_path(proposal) 
              - else
                = 'Voted'
          
          
          
          
  =will_paginate        

- @proposals.each do |proposal|
  %div#proposal.proposal.details{:id=>proposal.id}
    %h3 Proposal
    =proposal.text
    -if proposal.user_id == current_user.id && !proposal.votes.all?{|v| v.comment.empty?}
      %h3 Some would vote yes if :
      %ul
      -proposal.votes.each do |vote|
        -if !vote.comment.empty?
          %li=vote.comment
      
  :javascript    
    $('#link_#{proposal.id}').bind('click', function() {$('#proposal_#{proposal.id}').dialog({ modal: true, title: '#{proposal.user.nickname} proposes :' ,height:400, width:600  });return false;})
