%h2
  Proposals
%ul.proposals_nav
  %li= link_to 'All', proposals_path
  %li= link_to "Ongoing", proposals_path(:search=>{:opening_at_before => Time.now, :closing_at_after => Time.now, :status_equals => 'open' })
  %li= link_to "Decisions", proposals_path(:search=>{:closing_at_before => Time.now, :status_equals => 'open' })
  %li= link_to "Pending", proposals_path(:search=>{:opening_at_after => Time.now, :status_equals => 'open' })
  %li= link_to "Cancelled", proposals_path(:search=>{:status_equals => 'cancelled' })
  %li= link_to "Withdrawn", proposals_path(:search=>{:status_equals => 'withdrawn' })
  %li= link_to "My proposals", proposals_path(:search=>{:user_id => current_user.id })
-if @proposals.empty?
  .empty
    No proposal
-else
  %table.proposals
    %thead
      - [:user,:text,:opening_at,:closing_at,:status].each do |attribute|
        %th= order  @search, :by => attribute 
      %th= 'Action'  
      %th= 'Results'
    %tbody
      - @proposals.each do |proposal|
        %tr(class="#{proposal.full_status}")
          %td
            = proposal.user.nickname
          %td{:id=>"link_#{proposal.id}"}
            = link_to proposal.text[0..20]+"...","#"
            -if proposal.user_id == current_user.id && proposal.votes.any?{|v| !v.comment.empty?}
              %br some would vote yes if...
          %td= facebook_distance_of_time_in_words proposal.opening_at
          %td= facebook_distance_of_time_in_words proposal.closing_at
          %td= proposal.full_status
          - if proposal.full_status == 'open'
            -if @signatures.find_all{|s| s.proposal_id==proposal.id}.empty?
              %td= link_to 'Vote!', new_proposal_vote_path(proposal) 
            -else
              %td= 'Voted'
            - if proposal.user_id == current_user.id
              %td= link_to 'Withdraw!', withdraw_proposal_path(proposal)
          -else
            %td=' '
          - if proposal.full_status == 'closed'
            %td= "Yes:#{proposal.yes_count}, Support:#{proposal.support_count}, No:#{proposal.no_count}, Pass:#{proposal.pass_count}"
          - if proposal.full_status == 'cancelled'
            %td= "Vetoed by #{proposal.cancelled_by.nickname}"
          
  =will_paginate

- @proposals.each do |proposal|
  %div#proposal.proposal.details{:id=>proposal.id,:style=>"display:none"}
    %h3
      Proposal
      %span= "Nº#{proposal.id}"
    =proposal.text
    -if proposal.user_id == current_user.id
      %h3 Some would vote yes if :
      %ul
      -proposal.votes.each do |vote|
        -if !vote.comment.empty?
          %li=vote.comment
      
  :javascript    
    $($('#link_#{proposal.id}').click(function(){
      $(".proposal").hide()
      $('#proposal_#{proposal.id}').show()
    }))
