%ul.proposals_nav 
  %li Proposals : 
  %li= link_to 'All', crew_proposals_path
  - %w(ongoing decision pending cancelled withdrawn my).each do |sub|
    %li= link_to sub.capitalize, crew_proposals_path(:search=>{sub=>true})
  %li
  %li= link_to 'New proposal', new_crew_proposal_path(@crew), :class=>"new"
-if @proposals.empty?
  .empty
    No proposal
-else
  %table.proposals
    %thead
      - [:user,:text,:status,:signatures_count,:opening_at,:closing_at, :updated_at].each do |attribute|
        -if attribute == :text
          %th= order  @search, :by => :proposal_id, :as => 'Proposal'
        -elsif attribute == :signatures_count
          %th= order  @search, :by => attribute, :as => 'Signatures'
          - if actionables?
            %th(colspan=2)='Action' 
          - if results? 
            %th= order @search, :by => :yes_count, :as => 'Yes/Support/No/Pass ' 
        -elsif attribute == :status
          %th Status
        -elsif attribute == :user
          %th= order  @search, :by => :user_email, :as => 'User'
        -else
          %th= order  @search, :by => attribute 
      
    %tbody
    - @proposals.each do |proposal|
      - proposal.signatures_count
      %tr(class="#{proposal.full_status}")
        %td(class='nickname')
          %span=image_tag proposal.user.gravatar_url
          %span= proposal.user.nickname
          %br
          = proposal.full_status == 'open' ? 'proposes' : 'proposed'
       
        %td{:id=>"link_#{proposal.id}"}
          ="n°#{proposal.id} :"
          %br= link_to proposal.begining,"#proposal_#{proposal.id}"
          - comments = proposal.comments(current_user.id)         
          -if !comments.empty?
            %br="#{comments.size} suggestion(s)..."
        %td(class='status')= proposal.full_status
        %td(class='count')= proposal.signatures_count
        -if actionables?
          -if voted? proposal
            %td(class='count')='Voted'
          - else
            %td= render :partial => "votable", :locals=>{:proposal=>proposal}
          %td= render :partial => "withdrawable", :locals=>{:proposal=>proposal}
        - if results? 
          %td(class = 'count') 
            - if proposal.full_status == 'closed'
              - %w(yes support no pass).each do |type|
                - count = proposal.send "#{type}_count"
                - size = ( type!='pass' ? 2+ 4 * count/( proposal.signatures_count + 1) : 1)  
                %span{:class => "#{type}", :style => "font-size: #{size}em"}
                  = count
                
            - elsif proposal.full_status == 'cancelled'
              %span(class='vetoed')="Vetoed by "
              %span(class='vetoed')=proposal.cancelled_by.nickname
              %span=image_tag proposal.user.gravatar_url
        %td(class='date')= date_distance proposal.opening_at
        %td(class='date')= date_distance proposal.closing_at
        
        %td(class='date')= date_distance proposal.updated_at
          
          
          
  =will_paginate
  
             
- @proposals.each do |proposal|
  %div#proposal.proposal.details{:id=>proposal.id,:style=>"display:none"}
    = render :partial => "proposal_detail", :locals=>{:proposal=>proposal}
    -if voted? proposal
      %div(class='number')='Voted'
      %br
    - else
      %span= render :partial => "votable", :locals=>{:proposal=>proposal}
      
    %span= render :partial => "withdrawable", :locals=>{:proposal=>proposal}

   
  :javascript    
    $j($j('#link_#{proposal.id}').click(function(){
      $j(".proposal").hide()
      $j('#proposal_#{proposal.id}').show()
    }))
