%h2
  Proposals
%ul.proposals_nav 
  %li= link_to 'All', proposals_path
  %li= link_to "Ongoing", proposals_path(:search=>{:opening_at_before => Time.now, :closing_at_after => Time.now, :status_equals => 'open' })
  %li= link_to "Decisions", proposals_path(:search=>{:closing_at_before => Time.now, :status_equals => 'open' })
  %li= link_to "Pending", proposals_path(:search=>{:opening_at_after => Time.now, :status_equals => 'open' })
  %li= link_to "Cancelled", proposals_path(:search=>{:status_equals => 'cancelled' })
  %li= link_to "Withdrawn", proposals_path(:search=>{:status_equals => 'withdrawn' })
  %li= link_to "My proposals", proposals_path(:search=>{:user_id => current_user.id })
-if @proposals.empty?
  .empty
    No proposal
-else
  %table.proposals
    %thead
      - [:user,:text,:opening_at,:closing_at,:status].each do |attribute|
        %th= order  @search, :by => attribute      
      %th= order  @search, :by => :signatures_count, :as => 'Signatures'
      - if actionables?
        %th='Action' 
      - if results? 
        %th= order @search, :by => :yes_count, :as=> 'Yes/Support/No/Pass ' 
    %tbody
    - @proposals.each do |proposal|
      - proposal.signatures_count
      %tr(class="#{proposal.full_status}")
        %td(class='nickname')
          = proposal.user.nickname
          %br= proposal.full_status == 'open' ? 'proposes:' : 'proposed:'
        %td{:id=>"link_#{proposal.id}"}
          = link_to proposal.text[0..20]+"...","#"
          - comments = proposal.votes.collect{|v| v.comment}
          -if mine?(proposal) && !comments.empty?
            %br 
              ="#{comments.size} would #{proposal.full_status == 'open' ? 'vote' : 'have voted'} yes if..."
        %td(class='date')= date_distance proposal.opening_at
        %td(class='date')= date_distance proposal.closing_at
        %td(class='status')= proposal.full_status
        %td(class='count')= proposal.signatures_count
        - if actionables?
          %td 
            - if votable? proposal
              = link_to 'Vote!', new_proposal_vote_path(proposal) 
            - if withdrawable?(proposal)
              = link_to 'Withdraw!', withdraw_proposal_path(proposal) ,:confirm => "Do you confirm you withdraw : #{proposal.text[0..20]}... ?"  
            
        - if results? 
          %td(class = 'count')
            - if proposal.full_status == 'closed'
              - %w(yes support no pass).each do |type|
                - count = proposal.send "#{type}_count"
                - size = 2+3* count/( proposal.signatures_count + 1)
                %span{:class=>"#{type}", :style=>"font-size: #{size}em"}
                  = count
              
            - elsif proposal.full_status == 'cancelled'
              %font(color='red')="Vetoed by #{proposal.cancelled_by.nickname}"          
           
              
          
          
          
  =will_paginate

- @proposals.each do |proposal|
  %div#proposal.proposal.details{:id=>proposal.id,:style=>"display:none"}
    %h3
      Proposal
      %span= "Nº#{proposal.id}"
    =proposal.text
    -if proposal.user_id == current_user.id && !proposal.votes.all?{|v| v.comment.empty?}
      %h3 Some would vote yes if :
      %ul
      -proposal.votes.each do |vote|
        -if !vote.comment.empty?
          %li=vote.comment
      
  :javascript    
    $($('#link_#{proposal.id}').click(function(){
      $(".proposal").hide()
      $('#proposal_#{proposal.id}').show()
    }))
