%h2= "What happens since #{@since.strftime('%A, %B %d')} ?"
- unless @new_unvoteds.empty?
  %h3 New proposals to vote
  %ul 
    - @new_unvoteds.each do |proposal|
      %li
        %span=link_to proposal.begining, crew_proposal_url(proposal.crew,proposal)
        %span is now
        %span= proposal.full_status
        %span in crew : 
        %span=link_to proposal.crew.name, crew_proposals_url(proposal.crew)
- unless @new_decisions.empty?
  %h3 New decisions 
  %ul 
    - @new_decisions.each do |proposal|
      %li
        %span=link_to proposal.begining, crew_proposal_url(proposal.crew,proposal)
        %span is now
        %span= proposal.full_status
        %span in crew : 
        %span=link_to proposal.crew.name, crew_proposals_url(proposal.crew)
- unless @new_votes.empty?
  %h3 New votes on your proposals
  %ul 
    - @new_votes.each do |proposal|
      %li
        %span=link_to proposal.begining, crew_proposal_url(proposal.crew,proposal)
        %span has been voted
        %span= proposal.signatures_count
        %span times
      
- unless @new_members.empty?
  %h3 New members   
  %ul
    - @new_members.each do |member|
      %li
        %span= link_to member.user.nickname, crew_memberships_url(member.crew)
        %span has joined
        %span= link_to member.crew.name, crew_url(member.crew)
        %span as
        %span= member.role
-if ! @has_news
  %h3 nothing...
