%h1 Welcome to Dynamocracy 
The collective decision-making tool
%br
- if user_signed_in?  
  - if @my_crew
    %h2
      My Crew :
      -if can? :read, Crew, :crew_id => @my_crew.id
        =link_to " #{@my_crew.name}", crew_path(@my_crew)
      
  - else
    %h2= link_to "Create a new crew", new_crew_path, :class => 'vote' 
    .hint 
      You may create at most one crew.
  %h2
    -if can? :read, Crew  
      Currently part of :
      = link_to "those crews", crews_path  
    -else
     
  = render :partial => "news"
- else

  %br Dynamocracy helps your crew to make quick and engaging decisions
  .hint
    A crew is a body or a class of people who work at a common activity, generally in a structured or hierarchical organization.
  %h2 How it works :
  %ul
    %li build a new crew
    %li crewmen make propositions
    %li propositions are voted and enhanced 
    %li consensus emerge, decisions are made

    
  .hint
    "The ultimate purpose of collecting the data is to provide a basis for action or a recommendation." - Dr. W. Edwards Deming (1900 - 1993), American Statistician, Professor and Author
    %br "Nothing is more difficult, and therefore more precious, than to be able to decide." - Napoleon Bonaparte (1769 - 1821), Military and Political Leader of France
  %br
  %br
  %span= link_to "Login", new_user_session_path, :class=>'vote'
  %span= link_to "Register now!", new_user_registration_path, :class=>'new'
  
  
  
  
