%h1 Vote!
%div#proposal.proposal.details
  = render :partial => "proposals/proposal_detail", :locals=>{:proposal=>@vote.proposal}



- form_for [:proposal, @vote] do |f|
  = f.error_messages
  %p
    = f.radio_button :value, 'yes'
    = f.label :value_yes, "YES"
    %span.hint I support this proposal and I am ready to champion it
  %p
    = f.radio_button :value, 'support'
    = f.label :value_support, "I SUPPORT this proposal"
    %span.hint
      though I have some reservations. I don’t believe I can lead the implementation of this proposal, but I commit not to sabotage it
  %p
    = f.radio_button :value, 'no'
    = f.label :value_no, 'NO'
    %span.hint
      right now I can’t support this proposal
  %p
    = f.radio_button :value, 'pass'
    = f.label :value_pass, 'I just PASS'
  %p
    = f.radio_button :value, 'veto'
    = f.label :value_veto, 'VETO'
    %span.hint
      I am an absolute no. I won’t get in, I’m cancelling the proposal, and I’m claiming it
  %p
    = f.label :comment, 'I (would) (have) vote(d) YES if/because : '
    %br
    = f.text_area :comment, :rows=>4, :cols=> 80
  %p
    = f.submit 'Vote !'
=link_to 'Back', proposal_path(@vote.proposal)
  
