!!! html 5
%html
  %head
    %title= 'Dynamocracy'
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    = stylesheet_link_tag "application"
    %link(href='http://fonts.googleapis.com/css?family=Lobster:regular' rel='stylesheet' type='text/css')
    
  %body
    .everything
      %header
        %h1
          = link_to "Dynamocracy", root_path
          %span beta
        %nav
          %ul
            %li= link_to 'Home', root_path
            %li= '|'
            %li= link_to 'Crews', crews_path
            -if @crew && @crew.id
              %li= '>'
              - crew_name = ( @crew.name.length >= 9 ? "#{@crew.name[0..9]}.." : @crew.name )
              %li= link_to crew_name, crew_path(@crew)
              %li= '>'
              %li= link_to 'Proposals', crew_proposals_path(@crew)
              %li= '|'
              %li= link_to 'Members', crew_memberships_path(@crew)
              - if can? :read, Invitation
                %li= '|'
                %li= link_to 'Invitations', crew_invitations_path(@crew)
            
        %user_nav
          %ul
          
            - if user_signed_in? 
              %li= link_to current_user.email.capitalize, edit_user_registration_path
              %li= '|'
              %li= link_to "Logout", destroy_user_session_path
              
              -#%li= link_to 'New proposal', new_crew_proposal_path
            - else   
              %li= link_to "Login", new_user_session_path
              %li= '|'
              %li= link_to "Register", new_user_registration_path
            -#%li= link_to 'Logout', logout_path
           
      .content
        #error_div_id.flash.error= flash[:error]
        #notice_div_id.flash.notice= flash[:notice]
        = yield
      .footer
        Copyright © 2009-2010 Dynamocracy.org
