!!! html 5
%html
  %head
    %title= 'Dynamocracy'
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    = stylesheet_link_tag "application","jquery-ui-1.8.4.custom", "formtastic"
    %link(href='http://fonts.googleapis.com/css?family=Lobster:regular' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Inconsolata:regular' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css')
   

    = javascript_include_tag "jquery-1.4.2.min","jquery-ui-1.8.4.custom.min"
  
  %body
    .everything
      %header
        %h1
          = link_to "Dynamocracy", root_path
          %span=" for #{ENV['CREW']} crew" 
        
        %nav
          %ul
            %li= link_to 'Home', root_path 
            %li= link_to 'Logout', logout_path
            %li= link_to 'New proposal', new_proposal_path
      .content
        #error_div_id.flash.error= flash[:error]
        #notice_div_id.flash.notice= flash[:notice]
        = yield
      .footer
        Copyright © 2009-2010 Dynamocracy.org
