!!! html 5
%html
  %head
    %title= ENV['CREW'] || 'Dynamocracy'
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    = stylesheet_link_tag "application"

    %link(href='http://fonts.googleapis.com/css?family=Lobster:regular' rel='stylesheet' type='text/css')

    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery-1.4.2.min'

    = calendar_date_select_includes 'silver'
    :javascript 
      var $j = jQuery.noConflict();
      
  %body
    #crowdsound-activate-popup
      Feedback  
    .everything
      %header
        %h1
          = link_to ENV['CREW'] || 'Dynamocracy', root_path
          %span beta

        - if user_signed_in?
          %nav
            %ul
              %li= link_to 'Home', root_path
              %li= '|' if can? :read, Crew  
              %li= link_to 'Crews', crews_path if can? :read, Crew  
              -if @crew && @crew.id
                %li= '|'
                - crew_name = ( @crew.name.length >= 18 ? "#{@crew.name[0..18]}.." : @crew.name )
                %li= link_to crew_name, crew_path(@crew)
                %li= '|'
                %li= link_to 'Proposals', crew_proposals_path(@crew)
                %li= '|'
                %li= link_to 'Members', crew_memberships_path(@crew)
                - if can? :update, @crew
                  %li= '|'
                  %li= link_to 'Invitations', crew_invitations_path(@crew)
            
        %user_nav
          %ul
          
            - if user_signed_in? 
              %li= image_tag current_user.gravatar_url(:size=>15)
              %li= link_to current_user.nickname.capitalize, edit_user_registration_path
              %li= '|'
              %li= link_to "Logout", destroy_user_session_path
              
              -#%li= link_to 'New proposal', new_crew_proposal_path
            - else   
              %li= link_to "Login", new_user_session_path
              %li= '|'
              %li= link_to "Register", new_user_registration_path
            -#%li= link_to 'Logout', logout_path
           
      .content
      
        %div(class='addthis_toolbox addthis_default_style')
          %a(class="addthis_button_preferred_1")
          %a(class="addthis_button_preferred_2")
          %a(class="addthis_button_preferred_3")
          %a(class="addthis_button_preferred_4")
          %a(class="addthis_button_compact")
        
        
        
      

        #error_div_id.flash.error
          = flash[:error] 
          = flash[:alert]
        #notice_div_id.flash.notice= flash[:notice]
        = yield
      .footer
        Copyright © 2009-2010 Dynamocracy.org
%script(src='http://crowdsound.com/widgets/popup?&aid=4603')
%script(src='http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cdebb326e9412a7')
